<!-- <ngx-create-promotion-product *ngIf="showCreatePromotionProgram"></ngx-create-promotion-product> -->

<nb-card @listProgram size="large">
    <nb-card-header>
        Danh sách sản phẩm tặng kèm
    </nb-card-header>

   

    <nb-card-body >
        <ng2-smart-table class="program"
        [settings]="settings" 
        [source]="source" 
        (create)="onCreate()"
        (edit)="onEdit($event)" 
        (delete)="onDelete($event)">
        </ng2-smart-table>
    </nb-card-body>
</nb-card>
