<nb-card size="giant">
  <nb-tabset fullWidth>

    <nb-tab tabTitle="Top10View">
      <nb-list>
        <nb-list-item class="contact" *ngFor="let item of top10View">
          <!-- [title]="c.type" -->
          {{item.name}}
        </nb-list-item>
      </nb-list>
    </nb-tab>

    <nb-tab tabTitle="Top10Sold">
      <nb-list>
        <nb-list-item class="contact" *ngFor="let item of top10Sold">
          <nb-user [picture]="item.image" [name]="item.name"  size="large"></nb-user>
        </nb-list-item>
      </nb-list>
    </nb-tab>

    <nb-tab tabTitle="Top10Cancellation">
      <nb-list>
        <nb-list-item class="contact" *ngFor="let item of top10Cancellation">
          <nb-user [picture]="item.image" [name]="item.name"  size="large"></nb-user>
        </nb-list-item>
      </nb-list>
    </nb-tab>

  </nb-tabset>
</nb-card>
