<form (ngSubmit)="updateShipment()" #shipmentForm="ngForm" class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-header class="nb-card-header-customer">
                <span>Thông tin đơn nhập</span>

                <!-- Submit -->
                <button type="submit" nbButton status="primary">Chỉnh sửa</button>
            </nb-card-header>

            <nb-card-body>
                <div>
                    <div class="row">
                        <!-- Code -->
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="forCodeShipment" class="label">Mã kho<small
                                        class="text-danger">*</small></label>
                                <input required [(ngModel)]="updateShipmentRequest.codeShipment" name="codeShipment"
                                    type="text" nbInput fullWidth id="forCodeShipment" placeholder="Mã kho"
                                    #codeShipment="ngModel" (input)="validationNotify.onInputChange('codeShipment')">
                                <div class="text-danger-container">
                                    <div *ngIf="formErrors['codeShipment']" class="text-danger">
                                        {{ formErrors['codeShipment'] }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Ngày nhập -->
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="forImportDate" class="label">Ngày nhập<small
                                        class="text-danger">*</small></label>
                                <input required [(ngModel)]="strImportDate" name="importDate" (change)="onImportDateChange($event)"
                                    type="date" nbInput fullWidth id="forImportDate" placeholder="Mã kho"
                                    #importDate="ngModel" (input)="validationNotify.onInputChange('importDate')">
                                <div class="text-danger-container">
                                    <div *ngIf="formErrors['importDate']" class="text-danger">
                                        {{ formErrors['importDate'] }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Note -->
                    <div class="form-group">
                        <label for="forNote" class="label">Ghi chú<small class="text-danger">*</small></label>
                        <textarea required [(ngModel)]="updateShipmentRequest.note" name="note" rows="3" nbInput
                            fullWidth id="forNote" shape="rectangle" placeholder="Ghi chú" #note="ngModel"
                            (input)="validationNotify.onInputChange('note')"></textarea>
                        <div class="text-danger-container">
                            <div *ngIf="formErrors['note']" class="text-danger">
                                {{ formErrors['note'] }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <!-- Nhà cung cấp -->
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="forcodeCategory" class="label">Loại sản phẩm<small
                                        class="text-danger">*</small></label>
                                <ng-select [items]="suppliers$ | async" bindLabel="name" autofocus bindValue="id"
                                    [(ngModel)]="updateShipmentRequest.supplierId" name="supplierId"
                                    [searchFn]="customSearchFn" placeholder="Tìm kiếm theo tên, mã nhà cung cấp">
                                </ng-select>
                                <div class="text-danger-container">
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Trạng thái -->
                    <div class="form-group">
                        <label for="forStatus" class="label" style="margin: 0 1.5rem 0 0;">Trạng thái<small
                                class="text-danger">*</small></label>

                        <nb-radio-group (input)="validationNotify.onInputChange('status')" required
                            [(ngModel)]="updateShipmentRequest.status" name="status" id="forStatus" #status="ngModel">
                            <nb-radio [value]="'PM_Shipment_Pending'">Đã giao</nb-radio>
                            <nb-radio [value]="'PM_Shipment_Delivered'">Đang chờ xử lý</nb-radio>
                        </nb-radio-group>

                        <div class="text-danger-container">
                            <div *ngIf="formErrors['status']" class="text-danger">
                                {{ formErrors['status'] }}
                            </div>
                        </div>
                    </div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</form>