<div class="row">
    <div class="col-md-12">
        <nb-card class="d-flex">
            <nb-card-header>Chi tiết triệu chứng</nb-card-header>
        </nb-card>
    </div>
</div>
  
<div class="row">
    <div class="col-lg-7">
    <nb-card>
        <nb-card-header>Thông tin triệu chứng</nb-card-header>
        <nb-card-body>
        <div class="row">
        <!-- Tên triệu chứng -->
        <div class="col-lg-8">
            <label for="forName" class="label">Tên triệu chứng</label>
            <input [(ngModel)]="symptom.name" name="name" type="text" nbInput fullWidth
            id="forName" #name="ngModel" readonly>
        </div>
        <!-- mã triệu chứng -->
        <div class="col-lg-4">
            <label for="forCodeSymptom" class="label">Mã triệu chứng</label>
            <input [(ngModel)]="symptom.codeSymptom" name="codeSymptom" type="text" nbInput fullWidth
            id="forCodeSymptom" #codeSymptom="ngModel" readonly>
        </div>

        <!-- Mô tả -->
        <div class="form-group col-lg-12">
            <label for="forDescription" class="label">Mô tả triệu chứng</label>
            <textarea [(ngModel)]="symptom.description" name="description" rows="8" nbInput fullWidth
            id="forDescription" shape="rectangle" #description="ngModel" readonly></textarea>
        </div>
        </div>

            <!-- Submit -->
            <button class="btn-submit" nbButton [routerLink]="['/admin/symptom/symptom-edit', symptom.id]" status="warning">Chỉnh sửa</button>
            <button class="btn-delete btn-submit" nbButton (click)="onDelete()" status="danger">Xóa</button>
        </nb-card-body>
    </nb-card>
    </div>
    

    <div class="col-lg-5">
        <ngx-list-disease-symptom [link]="2" [listName]="'loại bệnh'" [id]="symptom.id"></ngx-list-disease-symptom>
    </div>
</div>