nb-checkbox {
  margin-bottom: 1rem;
}

.form-inline [fullWidth] {
  flex: 1;
}

.form-inline > * {
  margin: 0 1.5rem 1.5rem 0;
}

nb-card.inline-form-card nb-card-body {
  padding-bottom: 0;
}

.text-danger-container {
  min-height: 20px;
  margin-top: 5px;
}

.text-danger {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.form-group {
  margin-bottom: 0.2rem !important;
}

.nb-card-header-customer {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  padding: 8px 24px;
}

.picture-custom {
  background-position: center; 
  background-size: cover; 
  height: 160px; 
  width: 160px;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}