<div class="row">
  <div class="col-md-12">
    <nb-card class="d-flex">
      <nb-card-header>Thêm nhân viên</nb-card-header>
    </nb-card>
  </div>
</div>

<form (ngSubmit)="createStaff()" #staffForm="ngForm" class="row">
  <div class="col-md-6">
    <nb-card>
      <nb-card-header>Thông tin nhân viên</nb-card-header>
      <nb-card-body>
        <div>
          <!-- Tên -->
          <div class="form-group">
            <label for="forFullName" class="label">Họ và tên<small class="text-danger">*</small></label>
            <input required [(ngModel)]="createStaffRequest.fullName" name="fullName" type="text" nbInput fullWidth
              id="forFullname" placeholder="Họ và tên" #fullName="ngModel"
              (input)="validationNotify.onInputChange('fullName')">
            <div class="text-danger-container">
              <div *ngIf="formErrors['fullName']" class="text-danger">
                {{ formErrors['fullName'] }}
              </div>
            </div>
          </div>

          <!-- Tên đăng nhập -->
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="forUsername" class="label">Tên đăng nhập<small class="text-danger">*</small></label>
                <input required [(ngModel)]="createStaffRequest.userName" name="userName" type="text" nbInput fullWidth
                  id="forUsername" placeholder="Tên đăng nhập" #userName="ngModel"
                  (input)="validationNotify.onInputChange('userName')">
                <div class="text-danger-container">
                  <div *ngIf="formErrors['userName']" class="text-danger">
                    {{ formErrors['userName'] }}
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="forEmail" class="label">Email<small class="text-danger">*</small></label>
                <input required [(ngModel)]="createStaffRequest.email" name="email" type="email" nbInput fullWidth
                  id="forEmail" placeholder="Email" #email="ngModel" (input)="validationNotify.onInputChange('email')">
                <div class="text-danger-container">
                  <div *ngIf="formErrors['email']" class="text-danger">
                    {{ formErrors['email'] }}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Mật khẩu -->
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="forPassword" class="label">Mật khẩu<small class="text-danger">*</small></label>
                <input required [(ngModel)]="createStaffRequest.password" name="password" type="password" nbInput
                  fullWidth id="forPassword" placeholder="Mật khẩu" #password="ngModel"
                  (input)="validationNotify.onInputChange('password')">
                <div class="text-danger-container">
                  <div *ngIf="formErrors['password']" class="text-danger">
                    {{ formErrors['password'] }}
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="forConfirmPassword" class="label">Mật khẩu xác nhận<small
                    class="text-danger">*</small></label>
                <input required [(ngModel)]="createStaffRequest.confirmPassword" name="confirmPassword" type="password"
                  nbInput fullWidth id="forConfirmPassword" placeholder="Mật khẩu xác nhận" #confirmPassword="ngModel"
                  (input)="validationNotify.onInputChange('confirmPassword')">
                <div class="text-danger-container">
                  <div *ngIf="formErrors['confirmPassword']" class="text-danger">
                    {{ formErrors['confirmPassword'] }}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Giới tính -->
          <div class="form-group">
            <div class="form-inline">
              <label for="forGender" class="label" style="margin: 0 1.5rem 0 0;">Giới tính<small
                  class="text-danger">*</small></label>
              <div class="demo-items" style="margin: 0">
                <nb-radio-group (input)="validationNotify.onInputChange('gender')" required
                  [(ngModel)]="createStaffRequest.gender" name="gender" class="form-inline" id="forGender"
                  #gender="ngModel">
                  <nb-radio style="margin: 0 1.5rem 0 0" [value]="'Nam'">Nam</nb-radio>
                  <nb-radio style="margin: 0 1.5rem 0 0" [value]="'Nữ'">Nữ</nb-radio>
                  <nb-radio style="margin: 0 1.5rem 0 0" [value]="'Khác'">Khác</nb-radio>
                </nb-radio-group>
              </div>
            </div>
            <div class="text-danger-container">
              <div *ngIf="formErrors['gender']" class="text-danger">
                {{ formErrors['gender'] }}
              </div>
            </div>
          </div>

          <!-- Số điện thoại và ngày sinh -->
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="forPhone" class="label">Số điện thoại<small class="text-danger">*</small></label>
                <input required [(ngModel)]="createStaffRequest.phoneNumber" name="phoneNumber" type="text" nbInput
                  fullWidth id="forPhone" placeholder="Số điện thoại" #phoneNumber="ngModel"
                  (input)="validationNotify.onInputChange('phoneNumber')">
                <div class="text-danger-container">
                  <div *ngIf="formErrors['phoneNumber']" class="text-danger">
                    {{ formErrors['phoneNumber'] }}
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="forBirthday" class="label">Ngày sinh<small class="text-danger">*</small></label>
                <input required [(ngModel)]="createStaffRequest.birthday" name="birthday" type="date" nbInput fullWidth
                  id="forBirthday" #birthday="ngModel" (input)="validationNotify.onInputChange('birthday')">
                <div class="text-danger-container">
                  <div *ngIf="formErrors['birthday']" class="text-danger">
                    {{ formErrors['birthday'] }}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Địa chỉ -->
          <div class="form-group">
            <label for="forAddress" class="label">Địa chỉ<small class="text-danger">*</small></label>
            <textarea required [(ngModel)]="createStaffRequest.address" name="address" rows="3" nbInput fullWidth
              id="forAddress" shape="rectangle" placeholder="Địa chỉ" #address="ngModel"
              (input)="validationNotify.onInputChange('address')"></textarea>
            <div class="text-danger-container">
              <div *ngIf="formErrors['address']" class="text-danger">
                {{ formErrors['address'] }}
              </div>
            </div>
          </div>

          <!-- Submit -->
          <button type="submit" nbButton status="primary">Thêm mới</button>
        </div>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-md-6">
    <!-- Image -->
    <nb-card size="">
      <nb-card-header>Ảnh nhân viên</nb-card-header>

      <nb-card-body>
        <div class="row">
          <div class="col-sm-6">
            <div class="picture" [style.backgroundImage]="'url(' + imageUrl + ')'"
              style="background-position: center; background-size: cover; height: 260px;">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group" style="overflow: hidden">
              <label for="forImage" class="label">Chọn hình ảnh<small class="text-danger">*</small></label>
              <input type="file" fullWidth id="forImage" name="image" (change)="onFileChange($event)" accept="image/*">
            </div>
          </div>
        </div>
      </nb-card-body>
    </nb-card>

    <!-- Quyền nhân viên -->
    <nb-card>
      <nb-card-header>Quyền nhân viên<small class="text-danger">*</small></nb-card-header>

      <nb-card-body class="checkbox-radio">
        <div class="row demo-items">
          <div class="col-6" *ngFor="let item of roles; let index = index">
            <nb-checkbox [(ngModel)]="createStaffRequest.roles"
              (change)="onRoleChange(item.roleNormalizedName, $event)">{{item.roleName}}</nb-checkbox>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</form>