<div class="row">
  <div class="col-md-12">
    <nb-card class="d-flex">
      <nb-card-header>Thêm loại bệnh</nb-card-header>
    </nb-card>
  </div>
</div>

<form #diseaseForm="ngForm" class="row">
    <div class="col-lg-7">
      <nb-card>
        <nb-card-header>Thông tin loại bệnh</nb-card-header>
        <nb-card-body>
        <div class="row">
          <!-- Tên bệnh -->
          <div class="col-lg-8">
            <label for="forName" class="label">Tên bệnh<small class="text-danger">*</small></label>
            <input required [(ngModel)]="createDiseaseRequest.name" name="name" type="text" nbInput fullWidth
              id="forName" placeholder="Tên bệnh" #name="ngModel" (input)="validationNotify.onInputChange('name')">
            <div class="text-danger-container">
              <div *ngIf="formErrors['name']" class="text-danger">
                {{ formErrors['name'] }}
              </div>
            </div>
          </div>
          <!-- mã bệnh -->
          <div class="col-lg-4">
            <label for="forCodeDisease" class="label">Mã bệnh<small class="text-danger">*</small></label>
            <input required [(ngModel)]="createDiseaseRequest.codeDisease" name="codeDisease" type="text" nbInput fullWidth
              id="forCodeDisease" placeholder="Mã bệnh" #codeDisease="ngModel" (input)="validationNotify.onInputChange('codeDisease')">
            <div class="text-danger-container">
              <div *ngIf="formErrors['codeDisease']" class="text-danger">
                {{ formErrors['codeDisease'] }}
              </div>
            </div>
          </div>

          <!-- Mô tả -->
          <div class="col-lg-12">
            <nb-tab tabTitle="Mô tả">
              <ngx-tiny-mce
              [height]="305" 
              (editorKeyup)="createDiseaseRequest.description = $event" ></ngx-tiny-mce>
              <div class="text-danger-container">
                  <div *ngIf="formErrors['description']" class="text-danger">
                      {{ formErrors['description'] }}
                      </div>
                  </div>
              </nb-tab>
            </div>

          </div>

           <!-- Submit -->
           <button class="btn-submit" (click)="create()" nbButton status="primary">Thêm mới</button>
           <button class="btn-delete" (click)="back()" nbButton status="danger">Hủy</button>
        </nb-card-body>
      </nb-card>

      
    </div>

    <div class="col-lg-5">
      <ngx-list-disease-symptom [link]="1" [listName]="'triệu chứng'" [isCreate]="true" (listCreate)="onDataReceivedSymptom($event)" ></ngx-list-disease-symptom>
    
      <ngx-list-product-disease [link]="2   
      
      "[listName]="'sản phẩm'" [isCreate]="true" (listCreate)="onDataReceivedProduct($event)"></ngx-list-product-disease>
    
    </div>
    
</form>

