<form (ngSubmit)="delete()" #diseaseForm="ngForm">
    <nb-card>
        <nb-card-header>Xóa thông tin bệnh</nb-card-header>
        <nb-card-body>
            <div>
                <!-- Tên -->
                <div class="form-group">
                    <label for="forName" class="label">Tên bệnh</label>
                    <input readonly [(ngModel)]="disease.name" name="diseaseName" type="text" nbInput
                        fullWidth id="forName" >
                </div>

                <!-- Code -->
                <div class="form-group">
                    <label for="forCode" class="label">Mã bệnh</label>
                    <input readonly [(ngModel)]="disease.codeDisease" name="codeDisease" type="text" nbInput
                        fullWidth id="forCode" >
                </div>
            </div>
        </nb-card-body>
        <nb-card-footer>
            <button class="cancel" nbButton status="danger" (click)="cancel()">Hủy</button>
            <button nbButton status="success">Xóa</button>
        </nb-card-footer>
    </nb-card>
</form>