<div class="row">
    <div class="col-md-12">
      <nb-card class="d-flex">
        <nb-card-header>Sửa thông tin triệu chứng</nb-card-header>
      </nb-card>
    </div>
  </div>
  
  
  <form (ngSubmit)="edit()" #symptomForm="ngForm" class="row">
      <div class="col-lg-7">
        <nb-card>
          <nb-card-header>Thông tin loại triệu chứng</nb-card-header>
          <nb-card-body>
          <div class="row" *ngIf = "editSymptomRequest">
            <!-- Tên triệu chứng -->
            <div class="col-lg-8">
              <label for="forName" class="label">Tên triệu chứng<small class="text-danger">*</small></label>
              <input required [(ngModel)]="editSymptomRequest.name" name="name" type="text" nbInput fullWidth
                id="forName" placeholder="Tên triệu chứng" #name="ngModel" (input)="validationNotify.onInputChange('name')" >
              <div class="text-danger-container">
                <div *ngIf="formErrors['name']" class="text-danger">
                  {{ formErrors['name'] }}
                </div>
              </div>
            </div>
            <!-- mã triệu chứng -->
            <div class="col-lg-4">
              <label for="forCodeSymptom" class="label">Mã triệu chứng<small class="text-danger">*</small></label>
              <input required [(ngModel)]="editSymptomRequest.codeSymptom" name="codeSymptom" type="text" nbInput fullWidth
                id="forCodeSymptom" placeholder="Mã triệu chứng" #codeSymptom="ngModel" (input)="validationNotify.onInputChange('codeSymptom')">
              <div class="text-danger-container">
                <div *ngIf="formErrors['codeSymptom']" class="text-danger">
                  {{ formErrors['codeSymptom'] }}
                </div>
              </div>
            </div>
  
            <!-- Mô tả -->
            <div class="form-group col-lg-12">
              <label for="forDescription" class="label">Mô tả triệu chứng</label>
              <textarea required [(ngModel)]="editSymptomRequest.description" name="description" rows="5" nbInput fullWidth
                id="forDescription" shape="rectangle" placeholder="Mô tả" #description="ngModel" ></textarea>
            </div>
          </div>
  
          
  
             <!-- Submit -->
             <button class="btn-submit" type="submit" nbButton status="warning">Chỉnh sửa</button>
          </nb-card-body>
        </nb-card>
      </div>

      <div class="col-lg-5">
        <ngx-list-disease-symptom [link]="2" [listName]="'loại bệnh'" [id]="symptom.id"></ngx-list-disease-symptom>
    </div>
  </form>