<div class="row">
    <div class="col-md-12">
        <nb-card class="d-flex">
            <nb-card-header>Chi tiết hỗ trợ</nb-card-header>
        </nb-card>
    </div>
</div>
  
<div class="row">
    <div class="col-lg-7">
    <nb-card>
        <nb-card-header>Thông tin hỗ trợ</nb-card-header>
        <nb-card-body>
        <div class="row">
        <!-- Tên hỗ trợ -->
        <div class="col-lg-8">
            <label for="forName" class="label">Tên hỗ trợ</label>
            <input [(ngModel)]="support.name" name="name" type="text" nbInput fullWidth
            id="forName" #name="ngModel" readonly>
        </div>
        <!-- mã hỗ trợ -->
        <div class="col-lg-4">
            <label for="forCodeSupport" class="label">Mã hỗ trợ</label>
            <input [(ngModel)]="support.codeSupport" name="codeSupport" type="text" nbInput fullWidth
            id="forCodeSupport" #codeSupport="ngModel" readonly>
        </div>

        <!-- Mô tả -->
        <div class="form-group col-lg-12">
            <label for="forDescription" class="label">Mô tả hỗ trợ</label>
            <textarea [(ngModel)]="support.description" name="description" rows="8" nbInput fullWidth
            id="forDescription" shape="rectangle" #description="ngModel" readonly></textarea>
        </div>
        </div>

            <!-- Submit -->
            <button class="btn-submit" nbButton [routerLink]="['/admin/support/support-edit', support.id]" status="warning">Chỉnh sửa</button>
            <button class="btn-delete btn-submit" nbButton (click)="onDelete()" status="danger">Xóa</button>
        </nb-card-body>
    </nb-card>
    </div>

    <div class="col-lg-5">
        <ngx-list-product-support [link]="2" [listName]="'sản phẩm'" [id]="support.id"></ngx-list-product-support>
    </div>

</div>