<div class="row">
    <div class="col-md-12">
        <nb-card class="d-flex">
            <nb-card-header>Danh sách hỗ trợ</nb-card-header>
        </nb-card>
    </div>
</div>

<nb-card>
    <nb-card-header>
        Danh sách chức năng hỗ trợ của thuốc
    </nb-card-header>

    <nb-card-body>
        <ng2-smart-table 
        [settings]="settings" 
        [source]="source" 
        (create)="onCreate()"
        (edit)="onEdit($event)" 
        (delete)="onDelete($event)"
        (userRowSelect)="onViewDetails($event)"
        >
        </ng2-smart-table>
    </nb-card-body>
</nb-card>