<div class="row">
    <div class="col-md-12">
        <nb-card class="d-flex">
            <nb-card-header>Chi tiết bệnh</nb-card-header>
        </nb-card>
    </div>
</div>
  
<form  #diseaseForm="ngForm" class="row">

<div class="row">
    <div class="col-lg-7">
    <nb-card size="large">
        <nb-card-header>Thông tin bệnh</nb-card-header>
        <nb-card-body>
        <div class="row">
        <!-- Tên bệnh -->
        <div class="col-lg-8">
            <label for="forName" class="label">Tên bệnh</label>
            <input [(ngModel)]="disease.name" name="name" type="text" nbInput fullWidth
            id="forName" #name="ngModel" readonly>
        </div>
        <!-- mã bệnh -->
        <div class="col-lg-4">
            <label for="forCodeDisease" class="label">Mã bệnh</label>
            <input [(ngModel)]="disease.codeDisease" name="codeDisease" type="text" nbInput fullWidth
            id="forCodeDisease" #codeDisease="ngModel" readonly>
        </div>


       
        <!-- Mô tả -->
        <div class="col-lg-12">
            <nb-tab tabTitle="Mô tả">
             
                <!-- <ngx-tiny-mce [value]="disease.description" [height]="305" [readonly]="true"></ngx-tiny-mce> -->
            </nb-tab>
        </div>

        </div>
        
        


            <!-- Submit -->
            <button class="btn-submit" nbButton [routerLink]="['/admin/disease/disease-edit', disease.id]" status="warning">Chỉnh sửa</button>
            <button class="btn-delete btn-submit" nbButton (click)="onDelete()" status="danger">Xóa</button>
        </nb-card-body>
    </nb-card>
    </div>
   
    <div class="col-lg-5">
        <ngx-list-disease-symptom [link]="1" [listName]="'triệu chứng'" [id]="disease.id"></ngx-list-disease-symptom>
    

        <ngx-list-product-disease [link]="2" [listName]="'sản phẩm'" [id]="disease.id"></ngx-list-product-disease>
    </div>

</div>
</form>