<div class="row">
    <div class="col-md-12">
      <nb-card class="d-flex">
        <nb-card-header>Sửa thông tin hỗ trợ</nb-card-header>
      </nb-card>
    </div>
  </div>
  
  
  <form (ngSubmit)="edit()" #supportForm="ngForm" class="row">
      <div class="col-lg-7">
        <nb-card>
          <nb-card-header>Thông tin loại hỗ trợ</nb-card-header>
          <nb-card-body>
          <div class="row" *ngIf = "editSupportRequest">
            <!-- Tên hỗ trợ -->
            <div class="col-lg-8">
              <label for="forName" class="label">Tên hỗ trợ<small class="text-danger">*</small></label>
              <input required [(ngModel)]="editSupportRequest.name" name="name" type="text" nbInput fullWidth
                id="forName" placeholder="Tên hỗ trợ" #name="ngModel" (input)="validationNotify.onInputChange('name')" >
              <div class="text-danger-container">
                <div *ngIf="formErrors['name']" class="text-danger">
                  {{ formErrors['name'] }}
                </div>
              </div>
            </div>
            <!-- mã hỗ trợ -->
            <div class="col-lg-4">
              <label for="forCodeSupport" class="label">Mã hỗ trợ<small class="text-danger">*</small></label>
              <input required [(ngModel)]="editSupportRequest.codeSupport" name="codeSupport" type="text" nbInput fullWidth
                id="forCodeSupport" placeholder="Mã hỗ trợ" #codeSupport="ngModel" (input)="validationNotify.onInputChange('codeSupport')">
              <div class="text-danger-container">
                <div *ngIf="formErrors['codeSupport']" class="text-danger">
                  {{ formErrors['codeSupport'] }}
                </div>
              </div>
            </div>
  
           <!-- Mô tả -->
           <div class="col-lg-12">
            <nb-tab tabTitle="Mô tả">
              <ngx-tiny-mce [value]="editSupportRequest.description"
              [height]="180" 
              (editorKeyup)="editSupportRequest.description = $event" ></ngx-tiny-mce>
              <div class="text-danger-container">
                  <div *ngIf="formErrors['description']" class="text-danger">
                      {{ formErrors['description'] }}
                      </div>
                  </div>
              </nb-tab>
            </div>

            
          </div>
  
          
  
             <!-- Submit -->
             <button class="btn-submit" type="submit" nbButton status="warning">Chỉnh sửa</button>
          </nb-card-body>
        </nb-card>
      </div>

      <div class="col-lg-5">
        <ngx-list-product-support [link]="2" [listName]="'sản phẩm'" [id]="support.id"></ngx-list-product-support>
    </div>

  </form>