<!-- product-list.component.html -->
<div class="row">
  <div class="col-md-12">
    <nb-card class="d-flex">
      <nb-card-header>Danh sách sản phẩm</nb-card-header>
    </nb-card>
  </div>
</div>

<nb-card>
  <nb-card-body>
    <div class="d-flex justify-content-between">
      <div style="flex: 2" class="d-flex">
        <div style="flex: 1; margin-right: 10px;">
          <label class="search-label" for="search">Tìm kiếm:</label>
          <input style="background-color: #fff;" fullWidth nbInput [nbFilterInput]="dataSource" id="search"
            class="search-input" placeholder="Tên loại sản phẩm, code">
        </div>

        <div style="flex: 1">
          <label class="search-label" for="search">Lọc theo nội dung:</label>
          <input style="background-color: #fff;" fullWidth nbInput (input)="onChangeFilter($event)" id="filter" type="text"
            class="search-input" placeholder="Thành phần, Loại bệnh, Hỗ trợ">
        </div>
      </div>

      <div style="flex: 1; text-align: end;">
        <button nbButton status="primary" (click)="onCreate()">Thêm mới</button>
      </div>
    </div>

    <table [nbTreeGrid]="dataSource" [nbSort]="dataSource" (sort)="updateSort($event)">
      <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="allColumns"></tr>
      <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: allColumns"></tr>

      <!-- Cột Hành Động -->
      <ng-container [nbTreeGridColumnDef]="'actions'">
        <th class="actions-column" nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>Actions</th>
        <td nbTreeGridCell *nbTreeGridCellDef="let row">
          <div class="action-cell row">
            <a class="action-link" (click)="onEdit(row)">Xem/Sửa</a>
            <a class="action-link" (click)="onDelete(row)">Xóa</a>
            <a class="action-link" (click)="onClickPrice(row)">Giá</a>
          </div>
        </td>
      </ng-container>

      <ng-container *ngFor="let column of defaultColumns; let index = index" [nbTreeGridColumnDef]="column"
        [showOn]="getShowOn(index)">
        <th [class]="getColumnClass(column)" class="default-column" nbTreeGridHeaderCell
          [nbSortHeader]="getSortDirection(column)" *nbTreeGridHeaderCellDef>
          {{ getColumnTitle(column) }}
        </th>
        <td class="default-column" nbTreeGridCell *nbTreeGridCellDef="let row">
          <ng-container *ngIf="column === 'image'; else defaultCell">
            <img [src]="uploadFileService.loadImage(row.data[column])" alt="Product Image" width="150" height="150">
          </ng-container>
          <ng-template #defaultCell>
            {{ row.data[column] }}
          </ng-template>
        </td>
      </ng-container>
    </table>
  </nb-card-body>

  <nb-card-body>
    <div class="pagination-controls">
      <div *ngFor="let item of tempItems | paginate: { itemsPerPage: pageSize, currentPage: p }"></div>
      <pagination-controls (pageChange)="changePage($event)" previousLabel="" nextLabel="">
      </pagination-controls>
    </div>
  </nb-card-body>
</nb-card>