
<form (ngSubmit)="create()" #promotionProductForm="ngForm" class="row" @pageAnimation>
    <div class="col-md-12">
        <nb-card>
            <nb-card-header>Thêm sản phẩm khuyến mãi</nb-card-header>
            <nb-card-body>
                <div>
                    <div class="row">
                            
                            
                                <div class="col-lg-12">
                                    <label for="forProductId" class="label">Sản phẩm khuyến mãi
                                        <small class="text-danger">*</small></label>
                                        <!-- Chọn danh sách product -->
                                        <ng-select required [multiple]="true" [(ngModel)]="createPromotionProduct.productId" name="productId" #productId = "ngModel">
                                            <ng-option *ngFor="let item of listProductId" [value]="item.id" >
                                                {{ item.name }} | {{item.code}}
                                            </ng-option>
                                        </ng-select>
                                        {{createPromotionProduct.productId| json}}

                                        <div class="text-danger-container">
                                            <div *ngIf="createPromotionProduct.productId.length === 0" class="text-danger">
                                              Không có sản phẩm nào trong danh sách.
                                            </div>
                                        </div>
                                </div>
                            <!-- Số lượng chương trình -->
                            <div class="col-lg-12">
                                <label for="forQuantity" class="label">Số lượng được giảm giá của mỗi sản phẩm
                                    <small class="text-danger">*</small></label>
                                <input required [(ngModel)]="createPromotionProduct.quantity" name="quantity"
                                    type="number" nbInput fullWidth id="forQuantity" placeholder="Mời bạn nhập giá trị khuyến mãi"
                                    #quantity="ngModel" (input)="validationNotify.onInputChange('quantity')">
                                <div class="text-danger-container">
                                    <div *ngIf="formErrors['quantity']" class="text-danger">
                                        {{ formErrors['quantity'] }}
                                    </div>
                                </div>
                            </div>

                              <!-- Mô tả khuyến mãi -->
                              <div class="col-lg-12">
                                    <label for="forAdditionalInfo" class="label">Mô tả khuyến mãi<small class="text-danger">*</small></label>
                                    <textarea required [(ngModel)]="createPromotionProduct.additionalInfo" name="additionalInfo" rows="5" nbInput
                                        fullWidth id="forAdditionalInfo" shape="rectangle" placeholder="Mời bạn nhập mô tả chương trình khuyến mãi" #additionalInfo="ngModel"
                                        (input)="validationNotify.onInputChange('additionalInfo')"></textarea>
                                    <div class="text-danger-container">
                                        <div *ngIf="formErrors['additionalInfo']" class="text-danger">
                                            {{ formErrors['additionalInfo'] }}
                                        </div>
                                    </div>
                            </div>

                    </div>
                
                    <!-- Submit -->
                    <button type="submit" nbButton status="primary">Thêm mới</button>
                </div>

            </nb-card-body>
        </nb-card>
    </div>
</form>

